<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>USndPlugin copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>USndPlugin merge copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>USndPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA71D9D21ACA275400E08A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA71D9DD1ACA275400E08A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA71D9ED1ACA278500E08A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAF0DDF1C3E512F00F734C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
